/* Global Styles */
body {
  background-color: #222;
  color: white;
  font-family: "Spectral", serif;
  margin: 0;
  padding: 0;
}

/* Hero Section */
.hero {
  background: url("https://i.scdn.co/image/ab6765630000ba8a099a357ed0a2a39424f2903d")
    no-repeat center center/cover;
  color: white;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h1 {
  font-size: 3.5rem;
}

.hero h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.hero-button {
  padding: 12px 25px;
  background-color: #ff6f61;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Navigation */
.navigation {
  background-color: #333;
  padding: 15px 0;
}

.navigation ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

/* Sections */
.section {
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
}

.about,
.episodes {
  background: #333;
  color: #e1e3e1;
}

.episode-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.episode {
  background-color: #444;
  padding: 15px;
  border-radius: 10px;
}

/* Footer */
.footer {
  text-align: center;
  background-color: #1d3557;
  color: white;
  padding: 20px;
}
.footer a {
  color: #ff6f61;
  text-decoration: none;
}
