body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(69, 86, 102) 0%,
    rgb(34, 34, 34) 90%
  );
  font-family: "Spectral", serif;
}
h1 {
  font-weight: bold;
  text-align: center;
  color: brown;
}
h2 {
  text-align: center;
  color: brown;
}
button {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 50px;
}
img {
  width: 200px;
  display: block;
  margin: auto;
  margin-top: 20px;
}
footer {
  text-align: center;
  color: brown;
  background-color: #333;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}

ul.navigation {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  background-color: brown;
  padding: 10px 0;
}
.navigation li {
  display: inline;
  margin-right: 0;
}
.navigation a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  font-size: 17px;
  transition: background-color 0.3 ease;
  border-radius: 5px;
}
.container {
  width: 100%;
  max-width: 800px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

ul.navigation {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* This will allow the items to wrap onto the next line if needed */
  background-color: brown;
  padding: 10px 0;
}
.navigation a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  transition: background-color 0.3 ease;
  border-radius: 5px;
}
#about {
  background-color: #e1e3e1;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#episodes {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.episodes h3 {
  margin-bottom: 10px;
  color: #333;
}

.episodes h4 {
  margin-top: 15px;
  color: #555;
}

.episodes p {
  margin-bottom: 10px;
  font-size: 16px;
}

.existing-button {
  background-color: #ff6f61;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.existing-button:hover {
  background-color: #e65c50;
}
