body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(69, 86, 102) 0%,
    rgb(34, 34, 34) 90%
  );
  font-family: "Spectral", serif;
}
h1 {
  font-weight: bold;
  text-align: center;
  color: brown;
}
h2 {
  text-align: center;
  color: brown;
}
button {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 50px;
}
img {
  width: 200px;
  display: block;
  margin: auto;
  margin-top: 20px;
}
footer {
  text-align: center;
  color: brown;
}

ul.navigation {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  background-color: brown;
  padding: 10px 0;
}
.navigation li {
  display: inline;
  margin-right: 0;
}
.navigation a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  font-size: 17px;
  transition: background-color 0.3 ease;
  border-radius: 5px;
}
.container {
  width: 100%;
  max-width: 600px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}
